<!-- app/views/photos/index.html.erb -->

<h1>All Photos</h1>

<div class="photo-grid">
  <% @photos.each do |photo| %>
    <%= render partial: "photo", locals: { photo: photo, liked: @liked_photo_ids.include?(photo.id) } %>
  <% end %>
</div>